<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>folder</string>
	<key>name</key>
	<string>__ClassName__</string>
	<key>items</key>
	<array>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>ViewController</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewController.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewController.m</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>View</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>folder</string>
					<key>name</key>
					<string>ViewManager</string>
					<key>items</key>
					<array>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__ViewManager.h</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__ViewManager.m</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__VmToVcProtocol.h</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__ViewManagerDelegate.h</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>folder</string>
					<key>name</key>
					<string>MainView</string>
					<key>items</key>
					<array>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__MainView.h</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__MainView.m</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__MainViewOwner.h</string>
						</dict>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__MainViewOwner.m</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>folder</string>
					<key>name</key>
					<string>XIB</string>
					<key>items</key>
					<array>
						<dict>
							<key>type</key>
							<string>file</string>
							<key>name</key>
							<string>__ClassName__MainView.xib</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>ViewModel</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModel.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModel.m</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>ViewModelGenerator</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModelGenerator.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModelGenerator.m</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>DomainObject</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__DomainObject.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__DomainObject.m</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>Logic</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__LogicManager.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__LogicManager.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__LogicManagerDelegate.h</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__LmToVcProtocol.h</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>type</key>
			<string>folder</string>
			<key>name</key>
			<string>UnitTests</string>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__DomainObjectTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewControllerTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewManagerTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__MainViewTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__MainViewOwnerTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModelTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__ViewModelGeneratorTest.m</string>
				</dict>
				<dict>
					<key>type</key>
					<string>file</string>
					<key>name</key>
					<string>__ClassName__LogicManagerTest.m</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
